.wrap{
    background-color: #eef9f0;
}
.block{
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px 0;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
}
.item_img img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
}
.main_title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}
.title{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 14px;
}
.list{
    display: flex;
    justify-content: space-between;
}