.wrap{
    background-color: #eef9f0;
}
.block{
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px 0;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
}
.item_img{
    margin-bottom: 10px;
}
.item_img img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px solid green;
}
.main_title{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: rgb(1, 49, 41);
    margin-bottom: 80px;
}
.title{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 16px;
    color: rgb(1, 49, 41);
}
.description{
    line-height: 24px;
    color: rgb(8 33 16);
}
.list{
    display: flex;
    justify-content: space-between;
}