.page {
    background-color: rgb(48 161 132);
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 16px;
    border-top: 10px solid rgb(48 161 132);
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    color: rgb(255 255 255);
    margin-bottom: 40px;
}

.body {
    display: flex;
    margin-bottom: 20px;
}

.page b {
    font-weight: 600;
}

.flex {
    display: flex;
}

.block {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(222 255 238);
    padding: 6px 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.main_info {
    width: 100%;
    max-width: 60%;
}

.subtitle {
    font-weight: 600;
    color: rgb(13, 146, 91);
    margin-bottom: 10px;
    font-size: 22px;
}

.string {
    margin-bottom: 8px;
    font-size: 18px;
    color: rgb(0, 58, 31);
}

.string_creation {
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(97, 172, 135);
}

.service_item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    color: rgb(136, 136, 136);
}

.service_item::before {
    z-index: 1;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(244, 255, 250);
    border: 1px solid rgb(48 161 132);
    margin-right: 10px;
}

.service_item:has(.checkbox:checked)::before {
    background-color: rgb(3, 219, 3);
}

.service_item.selected {
    color: rgb(33, 68, 33);
}

.checkbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}


.US_wrap {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.US_block {
    background-color: rgb(222 255 238);
    width: 100%;
    max-width: 360px;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    overflow-y: auto;
    max-height: 300px;
}

.total_price {
    text-align: end;
    border-top: 2px solid rgb(0, 58, 31);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(0, 58, 31);
}

.US_string {
    font-size: 16px;
    color: rgb(0, 58, 31);
    margin-bottom: 6px;
}

.submit_btn {
    padding: 6px 10px;
    border-radius: 6px;
    background-color: rgb(0, 206, 62);
    font-weight: 600;
    font-size: 18px;
    color: rgb(239, 255, 255);
    cursor: pointer;
    width: fit-content;
}

.deny_btn {
    padding: 6px 10px;
    border-radius: 6px;
    background-color: rgb(173, 13, 13);
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
}

.amount_input {
    background-color: rgb(255, 255, 255);
    max-width: 40px;
    z-index: 10;
    text-align: center;
    border-radius: 4px;
    box-shadow: inset 0px 0px 6px rgba(80, 80, 80, 0.452);
    height: 20px;
    cursor: text;
    margin-left: 6px;
}

.amount_input::-webkit-outer-spin-button,
.amount_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amount_input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.amount_input:disabled {
    visibility: hidden;
    width: 0;
}

.service_name {
    margin-right: 6px;
    flex-grow: 1;
    max-width: 260px;
}

.service_list {
    height: 400px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    overflow-y: auto;
    border-radius: 10px;
}

.total {
    font-weight: 600;
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
    border-top: 2px solid white;
}
.appointment_form{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(222 255 238);
    display: flex;
    
}
.category_block{
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    background-color: rgb(222 255 238);
}
.service_inputs{
    max-height: 200px;
    overflow-y: auto;
}
.service_inputs::-webkit-scrollbar{
    width: 6px;
}
.service_inputs::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 6px;
}
.submit_block{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: white;
    max-width: 40px;
    padding: 0 6px;
    text-align: center;
    color: black;
    margin: 0 4px;
    border-radius: 6px;
}
.discount_title{
    font-size: 16px;
    color: rgb(222 255 238);
    font-weight: 600;
    margin-bottom: 16px;
}
.total_discount_block{
    display: inline;
}
.total_discount_block s{
    text-decoration: line-through;
    text-decoration-color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
    color: rgb(97, 129, 110);
}