.list{
    display: flex;
    flex-direction: column;
}
.item{
    border: 1px solid #279940;
    margin: 2px;
    width: 80px;
    text-align: center;
    padding: 4px;
    color: #055e18;
    border-radius: 10px;
    cursor: pointer;
    background-color: #8bf09f;
    font-weight: 600;
}
.item:hover{
    background-color: #90bf76;
}
.item:disabled{
    background-color: #cecfce;
    border: 1px solid gray;
    color: gray;
    cursor: default;
}