.wrap{
    padding: 200px 0;
    background: linear-gradient(360deg, #98eb9b, #ffffff);
}
.block{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: rgb(1, 49, 41);
    margin-bottom: 60px;
}
.btn{
    font-size: 24px;
    font-weight: 600;
    background-color: rgb(50 139 97);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    /*box-shadow: 0 0 8px 4px rgb(47 103 69);*/
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(56, 187, 56);
    box-shadow: 0 0 8px 4px rgb(2, 167, 76)
}
.text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    max-width: 600px;
    line-height: 32px;
    color: rgb(8 33 16);
}