@keyframes logoAnimation{
    
}
.topbar_wrap{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease-out;
}
.header_wrap{
    width: 100%;
}
.header{
    margin: 0 auto;
    max-width: 1800px;
    display: flex;
}
.topbar_wrap::before{
    content: '';
    position: absolute;
    background: linear-gradient(110deg, #dcecd3, #90bf76);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.3s ease-in;
}
.topbar_wrap:global(.scrolled){
    transform: translateY(-50px);
    transition: all 0.15s ease-out 0.25s;
    box-shadow: 0 0 10px #7a7a7aa3;
}
.topbar_wrap:global(.scrolled)::before{
    opacity: 1;
}
.logo_wrap{
    flex-grow: 1;
    transition: 0.2s;
    position: relative;
    margin-left: 50px;
}
.contacts_wrap{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
:global(.scrolled) .contacts_wrap{
    transform: translateY(-40px);
    transition: 0.6s;
}
.contacts_list{
    list-style: none;
}
.contacts_phone{
    position: relative;
    margin-left: 12px;
    font-weight: 600;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 0 #484848;
}
.contacts_phone::before{
    content: '';
    background-image: url('../phone_icon.svg');
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -34px;
    filter: brightness(5) drop-shadow(0px 1px #484848);
}

:global(.scrolled) .logo_wrap{
    transform: translateX(-40px) translateY(40px);
    transition: 0.2s 0.3s;
}
.logo_wrap::before{
    margin-top: 12px;
    content: '';
    background-image: url('../logo.png');
    background-size: 80px 80px;
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    transform: scale(1.1);
    opacity: 0;
    transition: all 0.5s 0.1s, opacity 0.3s;
    z-index: 2;
}
:global(.scrolled) .logo_wrap::before{
    transform: scale(1);
    transition: all 0.1s ease-in 0.4s, opacity 0.15s ease-in 0.4s;
    opacity: 1;
}
.logo_text{
    width: 230px;
    height: 100px;
    filter: brightness(100%);
    transition: all 0.2s ease-in 0.05s, width 0.3s 0.2s, opacity 0.2s;
    background-image: url('../logoText.png');
    background-repeat: no-repeat;
    transform-origin: center 20%;
    opacity: 1;

    margin-left: 4px;

    background-size: 230px 130px;
    background-position: 0 10%;
}
:global(.scrolled) .logo_text{
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.2s ease-in 0.2s,  width 0.15s 0s, opacity 1s ease-out 0.3s;
    width: 72px;
}
@media (max-width: 425px){
    .topbar_wrap{
        visibility: hidden;
    }
}
