.wrap{
    background-color: rgb(222 255 238);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    border-top: 6px solid green;
}
.wrap:hover{
    background-color: white;
    transform: scale(1.02);
}
