.header{
    display: flex;
    background-color: rgb(216, 240, 220);
    padding: 10px;
    position: fixed;
    width: 100%;
    align-items: flex-end;
}
.header a{
    margin: 0 10px;
    font-weight: 600;
    color: rgb(1, 65, 1);
}
.body{
    padding-top: 160px;
    background-color: rgb(241, 255, 251);
    min-height: 100vh;
}