.header{
    display: flex;
    background-color: rgb(95, 190, 167);
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    align-items: flex-end;
    border-radius: 0 0 14px 14px;
    z-index: 100;
}
.header a{
    margin: 0 10px;
    font-weight: 600;
    color: white;
}
.body{
    padding-top: 160px;
    background-color: rgb(241, 255, 251);
    margin-bottom: 60px;
    min-height: 100vh;
}
.logout_btn{
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 6px;
    background-color: rgb(238, 92, 48);
    font-weight: 600;
    color: rgb(250, 245, 245);
    margin-left: 10px;
}
.links_wrap{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}
.username{
    font-weight: 600;
    font-size: 18px;
    /*color: rgb(10, 82, 64);*/
    color: white;
}
.footer{
    background-color: rgb(63, 138, 119);
    height: 40px;
}
.auth_block{
    display: flex;
}
.logo_wrap{
    width: 200px;
    margin-right: 20px;
}