.wrap {
    background: linear-gradient(180deg, #edfbf1, #d3f5e1);
}

.block {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.title {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: rgb(1, 49, 41);
    margin-bottom: 80px;
}

.about_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
.photo{
    display: flex;
    justify-content: center;
}
.photo img {
    border-radius: 10px;
    width: 550px;
}
.subtitle{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
    color: rgb(1, 49, 41);
}
.description{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.about_row:nth-of-type(2n + 1) > .description{
    border-left: 4px solid rgb(69, 136, 92);
}
.about_row:nth-of-type(2n) > .description{
    border-right: 4px solid rgb(69, 136, 92);
    order: 2;
}
.text{
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: rgb(8 33 16);
}

@media (max-width: 525px) {
    .about_row{
        grid-template-columns: 1fr;
        margin: 0 10px 40px 10px;
    }
    .description{
        padding-bottom: 20px;
    }
    .about_row:nth-of-type(2n + 1) > .description{
        border: none;
        border-bottom: 4px solid rgb(69, 136, 92);
        order: 2;
    }
    .about_row:nth-of-type(2n) > .description{
        border: none;
        border-bottom: 4px solid rgb(69, 136, 92);
    }
    .title{
        margin-bottom: 40px;
    }
    .photo img{
        margin-bottom: 20px;
    }
    .text{
        font-size: 16px;
        line-height: 26px;
        max-width: 320px;
    }
}
@media (max-width: 375px){
    .title{
        font-size: 38px;
    }
    .text{
        max-width: 280px;
    }
}